@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Resource> localizer
@model CountryDetailsVM


@{
    ViewData["Title"] = localizer["CountryDetails"];
}

<div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="py-3 mb-4">
            <span class="text-muted fw-light">@localizer["Country"] /</span>  @localizer["Details"]
        </h4>
        <div class="row">

            <div class="col-lg-6 col-md-8 col-sm-12">
                <div class="card mb-4">
                    <div class="card-body">
                        <dl class="row">
                            <dt class="col-4 mb-4">
                                @localizer["CountryName"]
                            </dt>
                            <dd class="col-8">
                                @Html.DisplayFor(model => model.Name)
                            </dd>
                        </dl>
                    </div>
                    <div class="card-footer" style="margin-top:-50px">
                        <a href="@Url.Action("Update", new { countryId = Model.Id })" class="btn btn-primary">@localizer["Update"]</a>
                        <a asp-action="Index" class="btn btn-secondary">@localizer["BackToList"]</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@* <h1>Details</h1>

<div>
    <h4>CompanyDetailsVM</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Update", new { companyId = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div> *@

