@model IPagedList<BaSalesManagementApp.MVC.Models.BranchVMs.BranchListVM>
@using Microsoft.Extensions.Localization
@using X.PagedList.Mvc.Common
@using X.PagedList.Mvc.Core
@using X.PagedList
@using X.PagedList.Mvc.Core.Common
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Resource> localizer


@{
	ViewData["Title"] = localizer["BranchIndex"];
	var CurrentSort = ViewBag.CurrentSort as string;
	var NameSortParm = (String.IsNullOrEmpty(CurrentSort)) ? "name_asc" : "name_desc";
	var DateSortParm = (CurrentSort == "date_asc") ? "date_asc" : "date_desc";

}

<div class="content-wrapper">
	<div class="container-xxl flex-grow-1 container-p-y">
		<h4 class="py-3 mb-4"><span class="text-muted fw-light">@localizer["Branch"] /</span> @localizer["List"]</h4>

		<div class="d-flex justify-content-between align-items-center mb-3">
			<div>
				<a asp-action="Create" class="btn btn-primary">@localizer["Create_New"]</a>
			</div>

			<div class="d-flex">
				<!--Show Entries DropDown Butonu Kod Bloğu-->
				@* <form method="get" asp-action="Index" class="d-inline-block me-3">
				<label>@localizer["Show"]</label>
				<select id="pageSizeSelect" name="pageSize" onchange="this.form.submit()" class="form-select d-inline-block w-auto ms-2">
				@{
				var pageSizes = new[] { 5, 10, 20, 50 };
				var currentPageSize = ViewBag.CurrentPageSize;
				}
				@foreach (var size in pageSizes)
				{
				<option value="@size" selected="@(ViewBag.CurrentPageSize == size)">@size</option>
				}
				</select>
				<label>@localizer["entries"]</label>
				</form> *@
				<form method="get" asp-action="Index" class="d-inline-block me-3">
					<label>@localizer["Show"]</label>
					<select id="pageSizeSelect" name="pageSize" onchange="this.form.submit()" class="form-select d-inline-block w-auto ms-2">
						@{
							var pageSizes = new[] { 5, 10, 20, 50 };
							var currentPageSize = ViewBag.CurrentPageSize;
						}
						@foreach (var size in pageSizes)
						{
							<option value="@size" selected="@(ViewBag.CurrentPageSize == size)">@size</option>
						}
					</select>
					<label>@localizer["Entries"]</label>

					<!-- Mevcut sıralama parametresini form verisine dahil et -->
					<input type="hidden" name="sortOrder" value="@ViewBag.CurrentSort" />
				</form>

				<div class="dropdown ms-auto">
					<button type="button" class="btn btn-primary" data-bs-toggle="dropdown" aria-haspopup="true"
							aria-expanded="false">
						<i class="bi bi-filter" style="font-size: 1rem;"></i>
					</button>
					<div class="dropdown-menu">						
						<a asp-action="Index" asp-route-sortOrder="name_asc" asp-route-pageSize="@ViewBag.CurrentPageSize"
						   class="dropdown-item @(ViewBag.CurrentSort == "name_asc" ? "active" : "")">
							A-Z
						</a>
						<a asp-action="Index" asp-route-sortOrder="name_desc" asp-route-pageSize="@ViewBag.CurrentPageSize"
						   class="dropdown-item @(ViewBag.CurrentSort == "name_desc" ? "active" : "")">
							Z-A
						</a>
						<a asp-action="Index" asp-route-sortOrder="date_desc" asp-route-pageSize="@ViewBag.CurrentPageSize"
						   class="dropdown-item @(ViewBag.CurrentSort == "date_desc" ? "active" : "")">
							@localizer["Newest_First"]
						</a>
						<a asp-action="Index" asp-route-sortOrder="date_asc" asp-route-pageSize="@ViewBag.CurrentPageSize"
						   class="dropdown-item @(ViewBag.CurrentSort == "date_asc" ? "active" : "")">
							@localizer["Oldest_First"]
						</a>
					</div>
				</div>
			</div>
		</div>


		<div class="card">
			<div class="table-responsive text-nowrap">
				<table class="table">
					<thead>
						<tr>
							<th>@localizer["ColumnName"]</th>
							<th>@localizer["Address"]</th>
							<th>@localizer["ColumnCompany"].ToString().ToUpper(new System.Globalization.CultureInfo("tr-TR"))</th>
							<th>@localizer["CreatedDate"].ToString().ToUpper(new System.Globalization.CultureInfo("tr-TR"))</th>
							<th class="text-end">@localizer["Actions"]</th>

						</tr>
					</thead>
					<tbody class="table-border-bottom-0">
						@foreach (var item in Model)
						{
							<tr>
								<td class="fw-medium">@Html.DisplayFor(modelItem => item.Name)</td>
								<td class="fw-medium">@Html.DisplayFor(modelItem => item.Address)</td>

								<td class="fw-medium">
									@if (item.CompanyPhoto != null) //Company'nin logosu var ise
									{
										<img src="data:image/jpeg;base64,@Convert.ToBase64String(item.CompanyPhoto)" alt="Company Picture"
											 class="rounded-circle profile-picture" style="width: 40px; height: 40px;"
											 data-bs-toggle="popover" data-bs-html="true"
											 data-bs-content="
										<div class='card' style='width: 150px;'>
											<img src='data:image/jpeg;base64,@Convert.ToBase64String(item.CompanyPhoto)' class='card-img-top' alt='Company Logo'>
											<div class='card-body text-center'>
												<h6 class='card-title'>@item.CompanyName</h6>
											</div>
										</div>"
										/>
									}
									else //Company'nin logosu yok ise
									{
										<span class="rounded-circle" style="width: 40px; height: 40px; background-color: #e7e7ff; color: #696cff; display: flex; justify-content: center; align-items: center; font-weight:500"
											  data-bs-toggle="popover" data-bs-html="true"
											  data-bs-content="
						 <div class='card' style='width: 150px;'>
							 <div class='card-img-top' style='background-color: #e7e7ff; width: 100%; height: 80px; display: flex; align-items: center; justify-content: center; font-size: 1.5rem; color: #696cff;'>
										@* @item.CompanyName.Substring(0, 2) *@
							 </div>
							 <div class='card-body text-center'>
								 <h6 class='card-title'>@item.CompanyName</h6>
							 </div>
						 </div>">@item.CompanyName.Substring(0, 2)</span>
									}
								</td>

								<td class="fw-medium">@item.CreatedDate.ToString("dd.MM.yyyy")</td>
								<td class="text-end">
									<div class="dropdown">
										<button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown" style="margin-right: 28px;">
											<i class="bx bx-dots-vertical-rounded"></i>
										</button>
										<div class="dropdown-menu">
											<a asp-action="Details" asp-route-branchId="@item.Id" class="dropdown-item"><i class="bx bx-info-circle me-1"></i>  @localizer["Details"]</a>
											<a asp-action="Update" asp-route-branchId="@item.Id" class="dropdown-item"><i class="bx bx-edit-alt me-1"></i> @localizer["Update"]</a>
											<a href="javascript:;" class="dropdown-item " data-bs-toggle="modal" data-bs-target="#deleteModal" data-branch-id="@item.Id">
												<i class="bx bx-trash me-1"></i> @localizer["Delete"]
											</a>
										</div>
									</div>
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
			<div class="d-flex justify-content-center mt-3">
				@* @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort }), new PagedListRenderOptions *@
				@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, pageSize = ViewBag.CurrentPageSize }), new PagedListRenderOptions
{
	Display = PagedListDisplayMode.Always,
	UlElementClasses = new[] { "pagination", "justify-content-center" },
	LiElementClasses = new[] { "page-item" },
	PageClasses = new[] { "page-link" },
	LinkToPreviousPageFormat = @localizer["Previous"],
	LinkToNextPageFormat = @localizer["Next"],
	LinkToFirstPageFormat = @localizer["First"],
	LinkToLastPageFormat = @localizer["Last"],
	ContainerDivClasses = new[] { "d-flex", "justify-content-center" }

})
			</div>
		</div>
	</div>
</div>
<!-- Delete Confirmation Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="deleteModalLabel">@localizer["DELETE_CONFIRM_TITLE_BRANCH"]</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				@localizer["DELETE_CONFIRM_BRANCH"]
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@localizer["CANCEL_BRANCH"]</button>
				<a id="confirmDeleteButton" href="#" class="btn btn-danger">@localizer["DELETE_BRANCH"]</a>
			</div>
		</div>
	</div>
</div>



@section Scripts {
	<script>
		document.addEventListener('DOMContentLoaded', function () {
			var deleteModal = document.getElementById('deleteModal');
			deleteModal.addEventListener('show.bs.modal', function (event) {
				var button = event.relatedTarget;
				var branchId = button.getAttribute('data-branch-id');
				var confirmDeleteButton = deleteModal.querySelector('#confirmDeleteButton');
				confirmDeleteButton.href = '/Branch/Delete?branchId=' + branchId;
			});
		});
	</script>
	<script>
		document.addEventListener('DOMContentLoaded', function () {
			var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
			var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
				return new bootstrap.Popover(popoverTriggerEl, {
					trigger: 'hover',
					placement: 'right'
				})
			})
		});
	</script>
}
